<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link" routerLink="/welcome/avinash">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link" routerLink="/todos">Todos</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a *ngIf="!hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link" routerLink="/logout">Logout</a>
      </li>
    </ul>

  </div>
</nav>